body {
  position: relative;
  background: #f3f5fc;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
}

/** INPUT AREA */
textarea.principal-frame {
  border: none;
  background: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
}

textarea.principal-frame::placeholder {
  color: #0a3871;
  opacity: 0.8;
}

/** WARNING ALERT */
p.alert {
  position: absolute;
  width: 300px;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
}

P.alert:before {
  content: url(../img/alert.png);
  margin-right: 8px;
  vertical-align: text-top;
}

/** BUTTON LAYOUT */
div.buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
}

div.buttons button {
  border-radius: 24px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  padding: 24px;
}

div.buttons button:hover {
  cursor: pointer;
}

div.buttons button.encrypt {
  background: #0a3871;
  margin-bottom: 24px;
  color: #fff;
  border: none;
}

div.buttons button.encrypt:active {
  background-color: #082f5f;
}

div.buttons button.decrypt {
  background-color: #f3f5fc;
  border: 1px solid #0a3871;
  color: #0a3871;
}

/** WHITE RECTANGLE */
div.rectangle {
  position: absolute;
  box-sizing: border-box;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

div.rectangle img.munheco {
  display: none;
}

div.rectangle div.rec-frame {
  text-align: center;
  color: #343a40;
}

div.rectangle div.rec-frame p.frame1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 16px;
}

div.rectangle div.rec-frame p.frame2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

div.rectangle textarea.result {
  border: none;
  background: none;
  outline: none;
  resize: none;
  overflow: hidden;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;

}

div.rectangle button.copy {
  border-radius: 24px;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #0a3871;
  background-color: #fff;
  color: #0a3871;
}

#pre-result {
  display: block;
}

#result {
  display: none;
}

/** SMARTHPHONE DESIGN */
@media only screen and (max-width: 480px) {
  body {
    height: 933px;
  }

  /** LOGO */
  div.logo {
    width: 100%;
    height: 96px;
  }

  div.logo img.logo-img {
    margin-top: 24px;
    margin-left: 16px;
  }

  /** INPUT LAYOUT */
  textarea.principal-frame {
    display: block;
    width: 343px;
    height: 250px;
    margin: 0 auto;
    margin-top: 56px;
  }

  /** WARNING ALERT */
  p.alert {
    left: 16px;
    top: 451px;
  }

  /** BUTTON LAYOUT */
  div.buttons {
    flex-direction: column;
    align-items: flex-start;
    width: 343px;
    height: 158px;
    left: 4.27vw;
    top: 485px;
  }

  div.buttons button {
    width: 343px;
    height: 42%;
  }

  /** WHITE RECTANGLE*/
  div.rectangle {
    padding: 0;
    width: 343px;
    height: fit-content;
    top: 707px;
    left: 4.27vw;
    bottom: 40px;
    margin-bottom: 24px;
  }

  div.rectangle div.rec-frame p.frame1 {
    margin: 32px auto 0px;
    width: 263px;
    height: 58px;
  }

  div.rectangle div.rec-frame p.frame2 {
    margin: 16px auto 32px;
    width: 263px;
    height: 48px;
  }

  div.rectangle textarea.result{
    margin: 32px;
    width: 279px;
    height: 432px;
  }

  div.rectangle button.copy{
    display: block;
    margin: 0 auto 32px;
    width: 279px;
    height: 67px;
  }
}

/** TABLET DESIGN */
@media only screen and (min-width: 481px) and (max-width: 900px) {
  /** LOGO */
  div.logo {
    position: absolute;
    top: 6.25%;
    left: 5.21%;
  }

  /** INPUT LAYOUT */
  textarea.principal-frame {
    position: absolute;
    width: 688px;
    height: 45%;
    top: 240px;
    left: 4.95vw;
  }

  /** WARNING ALERT */
  p.alert {
    left: 5.21vw;
    top: 836px;
  }

  /** BUTTON LAYOUT */
  div.buttons {
    align-items: flex-start;
    padding: 0px;
    width: 688px;
    height: 67px;
    left: 5.21vw;
    top: 870px;
  }

  div.buttons button {
    width: 100%;
    height: 67px;
  }

  div.buttons button.encrypt {
    margin-right: 24px;
    margin-bottom: 0;
  }

  /** WHITE RECTANGLE */
  div.rectangle {
    width: 688px;
    height: fit-content;
    top: 1001px;
    left: 5.21vw;
  }

  div.rectangle div.rec-frame p.frame1 {
    height: 29px;
  }

  div.rectangle div.rec-frame p.frame2 {
    height: 24px;
    font-size: 16px;
  }

  div.rectangle textarea.result{
    padding: 0;
    width: 624px;
    height: 180px;
  }

  div.rectangle button.copy {
    width: 624px;
    height: 67px;
  }
}

/** PC DESIGN */
@media only screen and (min-width: 901px) {
  /** LOGO */
  div.logo {
    position: absolute;
    display: flex;
    width: 8.3vw;
    height: 4.69vh;
    top: 3.9vh;
  }

  img.logo-img {
    height: 100%;
    margin: auto;
  }

  /** INPUT LAYOUT */
  textarea.principal-frame {
    position: absolute;
    width: 40vw;
    height: 60%;
    top: 16.41vh;
    left: 17vw;
  }

  /** WARNING ALERT */
  p.alert {
    width: 30vw;
    left: 18vw;
    top: 81vh;
    font-size: 1.8vh;
  }

  /** BUTTON LAYOUT */
  div.buttons {
    justify-content: space-between;
    width: 47.2vw;
    height: 6.55vh;
    bottom: 8vh;
    left: 17vw;
  }

  div.buttons button {
    width: 22.8vw;
    height: 100%;
    padding: 0;
  }

  /** WHITE RECTANGLE */
  div.rectangle {
    width: 26vw;
    height: 92vh;
    top: 3.9vh;
    left: 69.45vw;
    padding: 0;
  }

  div.rectangle img.munheco {
    display: block;
    width: 18vw;
    height: 32vh;
    margin: 0 auto;
    margin-top: 23vh;
  }

  div.rectangle p.frame1 {
    display: block;
    width: 80%;
    height: auto;
    margin: 0 auto;
    font-size: 3.5vh;
  }

  div.rectangle p.frame2 {
    display: block;
    width: 80%;
    height: auto;
    margin: 1.5vh auto;
    font-size: 2vh;
  }

  div.rectangle textarea.result {
    width: 84%;
    height: 73.36vh;
    margin: 3.68vh 2.08vw;
  }

  div.rectangle button.copy {
    width: 84%;
    height: 6.55vh;
    margin: auto 3.68vh;
  }
}
